<div class="icons-container">

  <div class="icon-container">
    <img (click)="toWelcomePage()" class="icon" src="../../../assets/welcome.png">
    <h2>Welcome!</h2>
  </div>

  <div class="icon-container">
    <img class="icon" src="../../../assets/aboutme.png">
    <h2>About Me</h2>
  </div>


  <div class="icon-container">
    <img class="icon" src="../../../assets/projects.png">
    <h2>Projects</h2>
  </div>


  <div class="icon-container">
    <img class="icon" src="../../../assets/skills.png">
    <h2>Skills</h2>
  </div>


  <div class="icon-container">
    <img class="icon" src="../../../assets/contact.png">
    <h2>Contact</h2>
  </div>


</div>
